/* navigation */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section  */

#home{
    height: 370px;
    padding: 3px 28px;
    

}
#home::before{
    height: 480px;

}
#home p{
    font-size: 13px;

}
/* books */
#books{
    display: inline;
}
/* services */

#services{
    flex-direction: column;

}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;

}
/* Payments section  */
#payments-method{
    width: 100%;
}
.methods{
    padding: 0px;
    margin: 0px auto;
}

#payments-method img{
    width: 80px;
    height: auto;
    margin: 0px auto;


}


/* footer  */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}